@mixin btn-styles($color,$bg-gradient) {
    border: none;
    color: $color;
    background: $bg-gradient;
    border-radius: 2rem;
    padding:1rem;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease,;

}


  


  
  

 
  
  
  