body {
  width: 100%;
  margin: 0;
  padding: 0;
}



.title-myfood {
  text-align: center;
  font-family: Georgia, serif;

}


.back-btn {
  transform: translate(1.5rem, -3rem);
}

.palate-img {
  width: 100%;
  margin-top: -2rem;
}

.palate-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  font-size: 2rem;
}

.palate-section {
  background-color: $bg-color;
  padding-top: 2rem;
  position: relative;
  top: -2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-bottom: -2rem;
}


.heart-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -3.5rem;
  padding-right: 1.5rem;
}

input[type="checkbox"] {
  display: none;
}

.heart-icon:hover path {
  fill: url(#gradient-icon);
  stroke: none;
}


#heart-toggle-icon:checked+label .heart-icon path {
  fill: url(#gradient-icon);
  stroke: none;
  animation: heart-pop 0.3s ease;
}


#heart-toggle-icon:not(:checked)+label .heart-icon path {
  fill: none;
  stroke: currentColor;
}

@keyframes heart-pop {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


.container-menu {
  padding-left: 10px;
  padding-right: 10px;
  gap: 1rem;

}


.enter,
.plat,
.dessert-category {
  font-size: 16px;
  color: #000000;
  font-family: 'Arial', sans-serif;
  border-bottom: 0.3rem solid #99E2D0;
  height: 1.5rem;
  width: 7%;
  font-weight: 300;
  padding-top: 1rem;
}

.container-food {
  background-color: white;
  border-radius: 1rem;
  padding: 13px;
  display: flex;
  flex-flow: column;
  row-gap: 3px;
  margin-bottom: 1rem;
  position: relative;

}

.container-food:hover {
  background: linear-gradient(to right, white 85%, #99E2D0 15%);

}

.menu-right {
  display: flex;
  align-items: center;
}

.text-left {
  flex: 1;
  min-width: 0;
}

.name-plate {
  font-size: 19px;
  font-family: 'roboto', sans-serif;
  margin: 0;
}

.description-plate {
  max-width: 100%;
  font-size: 15px;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

.price-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 17px;
  font-weight: 500;
  font-family: 'arial', sans-serif;
  opacity: 0;
  transform: translateX(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.container-food:hover .price {
  opacity: 1;
  transform: translateX(-100px);
}



.check-icon {
  opacity: 0;
  position: absolute;
  right: 1.1rem;
  top: 50%;
  width: 25px;
  height: 20px;
  transition: opacity 0.3s ease;
  transform: translateY(-50%);
}


.container-food:hover .check-icon {
  opacity: 1;

}



.name-plate,
.description-plate {
  max-width: none;
  overflow: visible;
  white-space: normal;


}

.container-food:hover .name-plate,
.container-food:hover .description-plate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}


.selectbutton {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.btnbtn {
  font-size: 16px;
  height: 50px;
  border: none;
  color: $color;
  background: $bg-gradient;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease, ;
  padding-inline: 3rem;
}

.btnbtn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

body {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



@media (min-width: 768px) {


  .palate-title {
    font-size: 2rem;
    text-align: left;
    text-indent: 0.3rem;
    padding-bottom: 1rem;

  }

  .heart-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -4.5rem;
    padding-right: 1.5rem;
  }



  .enter,
  .plat,
  .dessert-category {
    width: 4%;
  }

  .container-food:hover .name-plate,
  .container-food:hover .description-plate {
    max-width: none;
    overflow: visible;
    white-space: normal;

  }

  .container-food:hover .price {
    transform: translateX(-155px);
    opacity: 1;
  }

  .price {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    padding-right: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-weight: 550;
    font-family: 'arial', sans-serif;

  }

  .container-food {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    padding: 10px;
    margin-bottom: 20px;

  }


  .check-icon {
    opacity: 0;
    position: absolute;
    right: 3rem;
    top: 50%;
    width: 25px;
    height: 20px;
    transform: translateY(-50%);

  }

  .container-food:hover .check-icon {
    opacity: 1;

  }



}

@media (min-width: 1024px) {


  .startermenu {
    width: 634px;
    display: block;
    margin: 0 auto;
  }


  .palate-img {
    width: 100%;
    margin-top: -1.5rem;
    height: 300px;
    object-fit: cover;

  }

  .palate-section {
    position: relative;
    top: -2rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .palate-title {
    display: flex;
    justify-content: center;
  }



  .heart-container {
    display: flex;
    margin-top: -4.5rem;
    position: absolute;
    right: 27%;

  }


  .name-plate {
    font-size: 17px;
  }


  .description-plate {
    font-size: 13px;
  }

  .container-food {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    padding: 10px;
    margin-bottom: 20px;

  }

  .enter,
  .plat,
  .dessert-category {
    width: 7%;

  }

  .description-plate {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;

  }




  .price {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    padding-right: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-weight: 550;
    font-family: 'arial', sans-serif;
  }



  .container-food:hover .price {
    transform: translateX(-105px);
    opacity: 1;
  }


  .check-icon {
    opacity: 0;
    position: absolute;
    right: 2.3rem;
    top: 50%;
    width: 25px;
    height: 20px;
    transform: translateY(-50%);

  }

  .container-food:hover .check-icon {
    opacity: 1;

  }

}