body {
  width: 100%;
  margin: 0;
  padding: 0;
}



.title-myfood {
  text-align: center;
  font-family: Georgia, serif;

}

.back-btn {
  transform: translate(1.5rem, -3rem);
}

.palate-img {
  width: 100%;
  margin-top: -2rem;
}

.palate-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  font-size: 2rem;
}

.palate-section {
  background-color: $bg-color;
  padding-top: 2rem;
  position: relative;
  top: -2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-bottom: -2rem;

}


.heart-icon {
  float: right;
  padding-right: 1.5rem;
  margin-top:-3rem;
 
}

input[type="checkbox"] {
  display: none;
}

.heart-icon:hover path {
  fill: url(#gradient-icon);
  stroke: none;
}


#heart-toggle-icon:checked+label .heart-icon path {
  fill: url(#gradient-icon);
  stroke: none;
}


#heart-toggle-icon:not(:checked)+label .heart-icon path {
  fill: none;
  stroke: currentColor;
}

.enter,.plat,.dessert-category{
  color: #000000;
  font-family: 'Arial', sans-serif;
  margin-left: 1rem;
  border-bottom: 0.3rem solid #99E2D0;
  height: 1.5rem;
  width: 11%;
}

.container-menu {
  padding-left: 10px;
  padding-right: 10px;
  gap:1rem
}

.startermenu {
  background-color: white;
  height: 72px;
  border-radius: 1rem;
  position: relative;
  
}


.startermenu:hover {
  background: linear-gradient(to right, white 85%, #99E2D0 15%);
}

.name-plate {
  font-family: 'roboto',sans-serif;
  font-size: 20px;
  padding-top:0.5rem;
  font-weight:550;
  padding-left: 0.7rem;
  
}


.description-plate {
  font-family:'roboto',sans-serif;
  font-size:15px;
  padding-left: 0.7rem;
  margin-top:-0.7rem;
  font-weight:100;
  
}


.price{
  display: flex;
 justify-content: flex-end;
 font-size:17px;
 margin-top:-1rem;
 padding-right:1rem;
 transition: transform 0.5s ease, opacity 0.5s ease;
 font-weight:550;
 font-family: 'arial',sans-serif;
  
}

.startermenu:hover .price {
  transform: translateX(5px);
  opacity:1;
}


.check-icon {
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 25px;
  height: 20px;
  position: absolute;
  right:2rem;
  top:35%;
  transform: translateY(-50%) translateX(20px);
}

.startermenu:hover .check-icon {
  opacity: 1;
  transform: translateX(0px);
}

.name-plate,
.description-plate {
  max-width: none;
  overflow: visible;
  white-space: normal;
}

.startermenu:hover .name-plate,
.startermenu:hover .description-plate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:250px; 
  
}



.selectbutton{
   display: flex;
   justify-content: center;
   padding:2rem;
}

.btnbtn{
  font-size:16px;
  height:50px;
  border: none;
  color: $color;
  background: $bg-gradient;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease,;
  padding-inline: 3rem;
}

.btnbtn:active{
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  }

  body {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

@media (min-width: 768px) {
  .palate-title {
    font-size: 2rem;
    text-align: left;
    text-indent: 0.8rem;
    padding-bottom: 1rem;

  }
  .heart-icon {
    width: 5%;
    float: right;
    margin-top: -3rem;
    margin-right: 1.5rem;

  }

  .enter,
  .plat,
  .dessert-category {
    width: 6%;
  }

  .startermenu:hover .name-plate,
.startermenu:hover .description-plate {
  max-width: none;
  overflow: visible;
  white-space: normal;
  
}

  .startermenu:hover .price {
    transform: translateX(-155px);
    opacity:1;
  }
  
  .price{
    display: flex;
   justify-content: flex-end;
   font-size:17px;
   margin-top:-1rem;
   padding-right:1rem;
   transition: transform 0.3s ease, opacity 0.3s ease;
   font-weight:550;
   font-family: 'arial',sans-serif;
    
  }
  
  .startermenu {
    background-color: white;
    height: 72px;
    border-radius: 1rem;
    position: relative;
    
  }
  
  .check-icon {
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 25px;
    height: 20px;
    position: absolute;
    right:2rem;
    top:35%;
    transform: translateY(-50%) translateX(20px);
  }
  
  
}

@media (min-width: 1024px) {

   

  .startermenu{
    width:634px;
    display: block;
    margin: 0 auto;
  }


  .palate-img {
    width: 100%;
    margin-top: -1.5rem;
    height: 300px;
    object-fit: cover;
  }

  .palate-section {
    position: relative;
    top: -2rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .palate-title{
    display: flex;
    justify-content: center;
  }

  .heart-icon{
   margin-right:30%;
  }


.name-plate{
  font-size:17px;
}


.description-plate{
  font-size:13px;
}

  .enter,
  .plat,
  .dessert-category {
   display: block;
   margin-left:22%;
    width:4%;
  }

  .description-plate {
    font-family:'roboto',sans-serif;
    font-size:15px;
    padding-left: 0.7rem;
    margin-top:-0.5rem;
    font-weight:100;
    
  }
  
  
  
  
  .price{
    display: flex;
   justify-content: flex-end;
   font-size:17px;
   margin-top:-1rem;
   padding-right:1rem;
   transition: transform 0.3s ease, opacity 0.3s ease;
   font-weight:550;
   font-family: 'arial',sans-serif;
    
  }

  
  
  .startermenu:hover .price {
    transform: translateX(-105px);
    opacity:1;
  }
  
  
  .check-icon {
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 25px;
    height: 20px;
    position: absolute;
    right:2rem;
    top:35%;
    transform: translateY(-50%) translateX(20px);
  }

}