.footer-title{
    margin-left:2rem;
    margin-bottom:5rem;
    font-size:large;
    color:$white;
    
}

li{
    list-style-type:none;
    
    
}
.footer-container{
    background-color:$light-black;
    padding-top: 1rem;
   
    
    
}

.footer-column a{
    text-decoration:none;
    color:$white;
    font-family:'roboto',sans-serif;
}

.footer-column{
    transform: translate(0rem,-3.5rem);
    margin-bottom:0rem;
}

.footer-column li{
    margin-bottom:0.5rem;
}
    

.img{
    margin-right:0.5rem;
}
ul {
    margin-bottom:-1rem;
}

@media (min-width: 1024px) {
    
      
      
      .footer-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: end;
        margin-right:4rem; 
        position: relative;
        top:2em;
       
      }
      
      .footer-column {
        display: flex;
        flex-direction: row;
        gap: 2rem;  
      }
      
      .footer-column ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row; 
        gap: 2rem; 
        position: relative;
        right:-25rem;
      }
      
      .footer-column li {
        display: flex;
        align-items: center;  
        gap: 0.5rem; 
      }
    }      